/* allgemeine Einstellungen */
body {
  background-color: #9d9e96;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: black;
}

#vcard {
  background-color: white;
  padding: 10px;
  height: 323px;
  width: 500px;
  padding: 20px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -250px;
/*
  margin-left: auto;
  margin-right: auto;
*/
  margin-top: -161px;
  box-shadow: 10px 10px 5px #888888;
  /* eigentlich nicht nötig
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  */
}

#portrait {
  width: 120px;
  float: right;
}

p.name, p.beruf {
  font-size: 16pt;
}

p.name, p.beruf, p.email, p.homepage {
  margin: 0px;
}


/* Listen ohne Bullets */
ul.cooleliste {
  list-style: none;
  padding-left: 0px;
}

ul.cooleliste li {
  display: inline;
}

/* Tag-Liste mit Mittepunkten */
#tagliste li {
  font-style: italic;
}

#tagliste li:after {
  content: " ·";
}

#tagliste li:last-child:after {
  content: ""
}

/* Link-Liste */
#linkliste {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 35px;
  text-align: justify;
  padding-left: 0px;
  padding-right: 0px;
}

ul#linkliste:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#linkliste li {
  display: inline-block;
}

img.linkbild {
  width: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 49px;
  padding: 16px;
}

/*
.hervorhebbar#wikipedia img:hover {
  background-color: #f5f5f5;
  border-color: gray;
}

.hervorhebbar#publications img:hover {
  background-color: #2581c4;
  border-color: blue;
}

.hervorhebbar#projects img:hover {
  background-color: orange;
  border-color: darkorange;
}

.hervorhebbar#xing img:hover {
  background-color: #d0dc00;
  border-color: darkgreen;
}
*/